<% content_for :title, "Статьи - Пресс-центр - Геликон Про" %>

<%= render layout: "application/press_layout", locals: { breadcrumb_current: "Статьи" } do %>
  <h2 class="about-page-title">Статьи</h2>

  <% if @articles.any? %>
    <div class="news-list">
      <% @articles.each do |item| %>
        <article class="news-article">
          <time class="news-article-date" datetime="<%= item.published_at&.iso8601 %>"><%= item.published_at&.strftime("%d.%m.%Y") %></time>
          <h3 class="news-article-title"><%= item.title %></h3>
          <p class="news-article-summary"><%= item.summary.presence || item.body&.truncate(200) %></p>
          <%= link_to "Читать далее", press_article_show_path(item.slug), class: "news-article-link" %>
        </article>
      <% end %>
    </div>
  <% else %>
    <p>Статей пока нет.</p>
  <% end %>
<% end %>
